    .flex {
      display: flex;
    }

    .flex__mod {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-right: .5rem;
    }

    img {
      margin-right: -.5rem;
      height: 2.5rem;
      max-width: 100%;
      border-radius: 9999px;
      border: solid 2px #fc5374;
      transition: .3s all ease;
    }

    img:hover {
      transform: scale(1.3);
    }

    *,
    ::after,
    ::before {
      border-width: 0;
      border-style: solid;
      border-color: #dae1e7;
    }